#nav {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav a {
  font-weight: bold;
  color: #fff;
  margin: 0 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

#nav a.router-link-exact-active {
  color: #fff;
  background-color: #00d1b2;  
  border-radius: 4px;
}
